<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hatarika Product Sales</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="image/shoes-bg.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="productSales" :style="{overflow: modalDisplay? 'hidden' : 'none', height: modalDisplay? '100vh' : 'fit-content'}">       
    </style>
        <!-- --header-- -->
        <header>
            <nav id="navDetail">
                <div>
                    <h1 class="color2">Hatarika <span class="color1">Shoes</span></h1>
                </div>
                <div class="nav-content-container">
                        <div @click="modalOpen(0, 3)" class="menu-icon">
                            <span class="bar"></span><span class="bar"></span><span class="bar"></span>
                        </div>
                    <div class="nav-content">
                        <a id="test" href="index.html">Home</a>
                        <div class="dropdown">
                            <a>Collection</a>
                            <ul type="none" class="dropdown-content">
                                <li><a href="detail.html">Sneakers</a></li>
                                <li><a href="detail.html">Slip On</a></li>
                                <li><a href="detail.html">Boots</a></li>
                                <li><a href="detail.html">Pantofel</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <a>Brands</a>
                            <ul type="none" class="dropdown-content">
                                <li><a href="detail.html">Adidas</a></li>
                                <li><a href="detail.html">Nike</a></li>
                                <li><a href="detail.html">Converse</a></li>
                            </ul>
                        </div>
                        <a href="index.html">Sale</a>
                    </div>
                    <a style="cursor: pointer;" @click="modalOpen(0, 2)" id="navLogin"> 
                        <div class="cart-logo">
                            <i class="fa-solid fa-cart-shopping"></i>
                            {{cartItems.length}}
                        </div>
                        <div class="cart-text">
                            Cart({{cartItems.length}})
                        </div>
                    </a>
                </div>
            </nav>
        </header>
    
        <!-- --main-- -->
        <main>
            <h2 class="title">Product <span class="color1">Sale</span></h2>
            <div class="card-container">
                <div v-for="(product, value, index) in products" :key="index" class="card">
                    <div class="card-img-container">
                        <img :src="product.imgSrc" alt="product.altText">
                    </div>
                    <a @click="modalOpen(product.no, 1)">Detail</a>
                    <h1> {{ product.name }} </h1>
                    <h1 v-if="!product.discount"> {{ displayedPrice(product.price) }}</h1>
                    <div v-else-if="product.discount"> 
                        <h1 class="product-disc"> {{ displayedPrice(product.price) }}</h1>
                        <h1> {{ displayedPrice(product.discPrice) }} </h1>
                    </div>
                </div>
            </div>
            <div class="modal-container-detail" :style="{ display: modalDisplay ? 'flex' : 'none',  height: modalHeight? 'fit-content' : '100vh', padding: modalHeight? '70px 0px' : '0px', justifyContent: navMobile? 'end' : 'center'}">
                <div v-if="variant === 1" class="modal-detail">
                    <div class="modal-detail-header">
                        <h1>Detail Product</h1>
                        <a @click="modalClose()" style="cursor: pointer; font-size: 20px; font-weight: bold; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">X</a>
                    </div>
                    <div class="modal-detail-main">
                        <div class="modal-detail-content1">
                            <img :src="products[index].imgSrc" alt="products[index].altText">
                            <div class="modal-detail-subcontent1">
                                <h1 class="color1">{{ products[index].name }}</h1>
                                <h1 v-if="!products[index].discount"> {{ displayedPrice(products[index].price) }}</h1>
                                <div v-else-if="products[index].discount"> 
                                    <h1 class="product-disc"> {{ displayedPrice(products[index].price) }}</h1>
                                    <h1> {{ displayedPrice(products[index].discPrice) }}</h1>
                                </div>
                                <label style="font-size: 20px;" class="color1" for="size">Choose size</label>
                                <select style="margin: 30px 0px; font-size: 18px;" name="size" id="size" v-model="size">
                                    <option value="0">pilih</option>
                                    <option value="37">37</option>
                                    <option value="38">38</option>
                                    <option value="39">39</option>
                                    <option value="40">40</option>
                                </select>
                                <br>
                                <label style="font-size: 20px; display: flex; align-items: center; gap: 3px;" class="color1" for="qty">Quantity
                                    <button @click="qtyMinus()" class="qty-btn red-btn">-</button>
                                    <input @keyup.up="qtyPlus()" @keyup.down="qtyMinus" @keyup.enter="buy('buy')" @blur="qtyUnFill()" @focus="qtyFill()" class="qty" name="qty" type="text" v-model="qty">
                                    <button @click="qtyPlus()" class="qty-btn green-btn">+</button>
                                </label>
                                <p class="space">if u can not find your size, please kindly input here!</p>
                                <label for="sr" class="color1">
                                    Special Request
                                    <input v-model="reqSize" style="padding: 8px 0px; width: 230px;" type="text" placeholder="e.g EUR 43" name="sr">
                                </label>
                                <p class="color1 space">Packaging</p>
                                <div class="space">
                                    <input v-model="packaging" type="radio" name="pack1" value="Normal">
                                    <label class="packaging" for="pack1">Normal</label>
                                    <input v-model="packaging" type="radio" name="pack2" value="Bubble Wrap">
                                    <label class="packaging" for="pack2">Bubble Wrap</label>
                                    <input v-model="packaging" type="radio" name="pack3" value="Kotak Kayu">
                                    <label class="packaging" for="pack3">Kotak Kayu</label>
                                </div>
                                <div>
                                    <hr>
                                    <button @click="() => { addToCart(); modalClose(); }" class="modal-detail-btn">Add To Cart</button>
                                    <button @click="buy('buy')" class="modal-detail-btn">Buy Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-detail-content2 space">
                            <p class="space" style="font-size: 23px; font-weight: bold; ">Description</p>
                            <p class="space" style="font-family: serif; line-height: 30px; font-size: 17px;">
                                <i>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut ex temporibus veniam tempora. Similique molestiae sapiente nemo saepe animi, expedita deserunt? Earum rem laborum soluta aspernatur facilis repellat amet repudiandae?
                                Ipsam, explicabo ad cupiditate soluta facilis iusto, quas quod, officiis in ipsa quaerat. Nam laudantium, velit corrupti accusamus dolorum tempora suscipit molestiae aperiam harum, nulla quod consequatur illum, cum incidunt.</i>
                            </p>
                        </div>
                        <div class="modal-detail-content3 space">
                            <div>
                                <p class="space" style="font-size: 23px; font-weight: bold; ">Spesification</p>
                                <ul>
                                    <li>10 Oz canvas upper material</li>
                                    <li>Canvas lining material</li>
                                    <li> Polyester flat laces</li>
                                    <li>ubber foxing and outsole</li>
                                    <li>Custom woven label</li>
                                </ul>     
                            </div>
                            <div>
                                <p class="space" style="font-size: 23px; font-weight: bold; ">Size chart</p>
                                <ul>
                                    <li> US 5 / UK 4 / EUR 36/ JP 24</li>
                                    <li>6.5 / UK 8 / EUR 38/JP 25</li>
                                    <li>US 7 / UK 6 / EUR 39 /JP 25.8</li>
                                    <li>US 8 / UK 7 / EUR 40/ JP 26</li>
                                    <li>US8 / UK7 / EUR 41/JP 26.3</li>
                                    <li>US 11 /UK 10.5 / EUR 45 / JP 29.5</li>
                                </ul>     
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else-if="variant === 2" class="modal-cart">
                    <div class="modal-cart-header">
                        <div v-if="cartItems.length === 0">
                            <h1>Keranjang Kosong...</h1>
                        </div>
                        <div v-else>
                            <h1>Isi Keranjang</h1>
                        </div>
                        <a @click="modalClose()" style="cursor: pointer; font-size: 20px; font-weight: bold; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">X</a>
                    </div>
                    <div v-if="cartItems.length === 0">
                    </div>
                    <div v-else class="modal-cart-main">
                        <div v-for="(item, index) in cartItems" class="modal-cart-card">
                            <div class="cart-card-content1">
                                <img :alt="item.altText" :src="item.imgSrc" :alt="item.altText">
                            </div>
                            <div class="cart-card-content2">
                                <div class="cart-card-sub1-content2">
                                    <h3>{{item.name}}</h3>
                                    <div style="display: flex; gap:60px;">
                                        <p>Size: {{item.size}}</p>
                                        <p>Jumlah: {{item.qty}}</p>
                                    </div>
                                    <div style="display: flex; gap:60px;">
                                        <p>Packaging: {{item.packaging}}</p>
                                        <p>Request Size : {{item.reqSize}}</p>
                                    </div>
                                    <p class="color1">{{displayedPrice(item.total)}}</p>
                                </div>
                            </div>
                            <div class="cart-card-btn">
                                <button @click="deleteCartItem(item.index)">Delete</button>
                            </div>
                        </div>
                        <div class="modal-cart-buy">
                            <h2>Total:{{ displayedPrice(totalAll()) }}</h2>
                            <div class="cart-card-btn">
                                <button @click="buy('buyCart')" class="modal-cart-btn">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div :class="{ 'nav-mobile-active': navMobile, 'nav-mobile': !navMobile }"
                v-else-if="variant === 3">
                    <div class="nav-mobile-header">
                        <div @click="modalClose()" class="menu-icon">
                            <span class="bar-open"></span><span class="bar-open"></span><span class="bar-open"></span>
                        </div>
                    </div>
                    <div class="nav-mobile-main">
                        <a href="">Home</a>
                        <a href="">Collection</a>
                        <a href="">Brands</a>
                        <a href="">Sales</a>
                    </div>
                </div>
            </div>
        </main>
        
        <!-- --footer-- -->
        <footer>
            <div class="footer1">
                <div class="footer-content1">
                    <h3><span class="color1">Hatarika</span></h3>
                    <p v-for="info in informasi">{{ info }}</p>
                </div>
                <div class="footer-content2">
                    <h3><span class="color1">Hatarika Collection</span></h3>
                    <a href="detail.html">Sneakers</a>
                    <a href="detail.html">Slip On</a>
                    <a href="detail.html">Boots</a>
                    <a href="detail.html">Pantofel</a>
                </div>
                <div class="footer-content3">
                    <div>
                        <h3><span class="color1">Follow Us On</span></h3>
                    </div>
                    <div>
                        <a href="index.html">
                            <img src="image/twitter.png" alt="twitter image">
                        </a>
                        <a href="index.html">
                            <img src="image/facebook.png" alt="facbook image">
                        </a>
                        <a href="index.html">
                            <img src="image/instagram.png" alt="instagram image">
                        </a>
                        <a href="index.html">
                            <img src="image/pinterest.png" alt="pinterest image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer2">
                <p>Copyright @ 2021 Hatarika.co All RIghts Reserved</p>
            </div>
        </footer>
    </div>

    <!-- -- script js -- -->
    <script src="js/main.js"></script>

</body>
</html>